{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-primary">Attendance Records</h1>
        {% if records %}
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th>Timestamp (UTC)</th>
                    <th>Name</th>
                    <th>Method</th> <!-- Added the new "Method" column -->
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record['Timestamp'] }}</td>
                    <td>{{ record['Name'] }}</td>
                    <td>{{ record['Method'] }}</td> <!-- Display the "Method" column -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info text-center mt-4">
            No attendance records found.
        </div>
        {% endif %}
    </div>
{% endblock %}
